# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/
.env/

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Test coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.bak
*.swp
